:root{

    --maincolor:#535fff;
    --secondarycolor:#192734;  
    --bordercolor:#c1c1c1;
  
    --mainText:rgb(15, 15, 15);
    --secondaryText:#f6fad4;  
    --themeDotBorder:#fefeff;
    --previewBg:rgb(251, 249, 243, 0.8);
    --button:black;
    --preview-shadowBg:#313131;
  }